<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<title>拼团</title>
	<script type="text/javascript" src="../js/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="../js/vue.min.js"></script>
	<script type="text/javascript" src="../js/manage.js"></script>
	<script type="text/javascript" src="../js/fontSize.js"></script>
	<script type="text/javascript" src="../js/clipboard.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/reset.css">
	<link rel="stylesheet" type="text/css" href="../css/manage.css">
</head>
<body>
<div id="app">
	<header>
		<button class="btn_back">
			<img src="../img/back.png">
		</button>
		<p class="top_title">活动管理</p>
	</header>	
	<div class="hide_img" v-on:click="close">
		<img v-bind:src="detail.url">
	</div>
	<p class="tip">点击活动标题查看分享链接及活动数据</p>
	<!--活动数据-->
	<div class="event_data">
		<div class="data_top">
			<span>团</span>
			<p class="data_title"  v-text="title.text"></p>
			<button class="btn_down" v-on:click="down()">
			<img class="trans" src="../img/btn_down.png">
			</button>
		</div>
		<div class="data_hide">
			<div class="date_hide">
				<p class="date_create">创建时间：</p>
				<span class="year_create" v-text="time.startyear"></span>
				<span class="month_create" v-text="time.startmonth"></span>
				<span class="day_create" v-text="time.startday"></span>
			</div>
			<div class="data_detail">
				<p class="p event_link">活动链接:</p>
				<p class="link" v-text="detail.link"></p>
				<button class="btn_copy" v-bind:data-clipboard-text="detail.link" v-on:click="copy">复制</button>
				<p class="p event_poster">活动海报:</p>
				<p class="link btn_watch" v-on:click="watch">点击查看</p>
				<button class="btn_save" v-on:click="watch">查看</button>
				<p class="event_datatitle">活动数据</p>
				<div class="list_data">
					<div v-bind:class="item.class" v-for="item in list_data">
						<p v-text="item.title">浏览次数</p>
						<span v-text="item.num">0</span>
					</div>
				</div>
				<div class="list_func">
					<div v-bind:class="item.class" v-for="item in list_func">
						<img v-bind:src="item.url">
						<span v-text="item.text">编辑</span>
					</div>
				</div>
			</div>	
		</div>
	</div>
</div>
</body>
</html>