<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<title>生日快乐</title>
	<script type="text/javascript" src="../js/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="../js/birthday.js"></script>
	<script type="text/javascript" src="../js/vue.min.js"></script>
	<script type="text/javascript" src="../js/fontSize.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/reset.css">
	<link rel="stylesheet" type="text/css" href="../css/birthday.css">
</head>
<body>
<div id="app">
	<img class="bg" src="../img/88.jpg">
	<p v-bind:class="item.class" v-for="item in birthinfo" v-text="item.text"></p>
	<p v-bind:class="item.class" v-for="item in goodnum" v-text="item.text"></p>
	<span class="hidetext"></span>
	<button class="btn_more" v-on:click="more()"></button>
	<div class="hide_more" v-on:click="hide_more()">
		<img v-for="item in hidemoreinfo" v-bind:src="item.url">
	</div>
	<button class="btn_addnum" v-on:click="add()"></button>
	<div class="hide_img" v-for="item in surinfo">
		<img v-bind:src="item.url">
		<p v-text="item.text"></p>
	</div>
	<button class="btn_openhide_img" v-on:click="open(0)"></button>
	<button class="btn_openhide_img" v-on:click="open(1)"></button>
	<img class="heart1" src="../img/heart.png">
	<img class="heart2" src="../img/heart.png">
	<img class="heart3" src="../img/heart.png">
	<img class="rotate_img1" src="../img/5.JPG">
	<img class="rotate_img2" src="../img/6.JPG">
	<img class="more" src="../img/7.JPG">
	<div class="hide_but"></div>
</div>
</body>
</html>