*{
	margin: 0;
	padding: 0;
	font-size: 0;
	border: none;
}

body{
	background: #ecf1ef;
}

p,span,button,a,input,label,legend{
	font-size: 14px;
}

button{
	background: none;
	outline: none;
	border: none;
}

a{
	text-decoration: none;
}

/*导航栏*/
nav{
	width: 100%;
	min-width: 800px;
	height: 46px;
	line-height: 46px;
	background: #000;
}

nav p{
	font-size: 24px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	width: 50%;
	height: 46px;
	line-height: 46px;
	display: inline-block;
}

nav ul{
	width: 50%;
	height: 46px;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	vertical-align: top;
}

nav ul li{
	height: 100%;
}

nav ul li a{
	padding-left: 10px;
	padding-right: 10px;
	height: 46px;
	line-height: 46px;
	display: inline-block;
	color: #fff; 
}

a:hover{
	color: skyblue;
}

/*context part*/
.content{
	width: 800px;
	margin: 0 auto;
	padding-top: 80px;
	padding-bottom: 60px;
	display: flex;
	/* display: none; */
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #eae6e6;
}

.content p{
	height: 80px;
	line-height: 80px;
	color: gray;
	font-size: 36px;
}

.content span{
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	color: gray;
}

.content button{
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 14px;
	color: #fff;
	background: green;
	border-radius: 5px;
}

/*登陆注册模块*/
#app{
	width: 500px;
	margin: 30px auto;
}

#app form{
	width: 100%;
	/* display: inline-flex; */
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #fff;
	padding-bottom: 10px;
	display: none;
	box-shadow: 0 5px 5px 5px #d3dfe0;
}

.rememberMe input{
	width: 16px;
	height: 16px;
}

.normal_input{
	width: 480px;
	margin-top: 10px;
}

.normal_input label{
	font-size: 16px;
	display: block;
}

.form_title{
	font-size: 16px;
	width: 100%;
	text-align: center;
	border-bottom: 1px solid gray;
	height: 36px;
	line-height: 36px;
}

.btn_submit{
	font-size: 16px;
	height: 36px;
	width: 480px;
	background: skyblue;
	margin-top: 12px;
	border-radius: 5px;
	color: #fff;
}

.go_signUp,.rememberMe{
	margin-top: 10px;
}

.go_signUp button{
	color: skyblue;
}

.rememberMe{
	height: 30px;
	line-height: 30px;
	width: 480px;
}

.rememberMe input,.rememberMe label{
	vertical-align: middle;
}

.normal_input input{
	font-size: 16px;
	width: 100%;
	padding-left: 6px;
	box-sizing: border-box;
	border: 1px solid gray;
	border-radius: 5px;
	height: 32px;
}


#app2{
	width: 100%;
	min-width: 1200px;
	overflow: auto;
}

.app2_left{
	margin: 30px 30px 0 30px;
	width: 620px;
	display: inline-block;
}

.app2_right{
	width: 460px;
    float: right;
    margin-right: 50px;
    background: #cdd7d8;
    min-height: 420px;
    margin-top: 30px;
    box-shadow: 0 5px 5px 5px #dad8d8;
}

#app2 video{
	width: 620px;
	height: 400px;
}

#app2 .btn_list{
	width: 620px;
	padding: 10px 0;
}

#app2 .btn_list button{
	font-size: 14px;
	padding: 3px 5px;
	box-sizing: border-box;
	background: skyblue;
	color: #fff;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
}

.app2_right .history_title{
	height: 36px;
	line-height: 36px;
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #fff;
	font-size: 24px;
	color: #000;
}

.app2_right div{
	width: 100%;
	padding: 10px 10px;
}

.app2_right p,.app2_right span{
	color: #000;
}